<div th:fragment="listproduct" class="row">
  <div class="col-sm-12">
		<a th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.create')}" class="btn btn-primary" th:text="#{product.new}">NUEVO PRODUCTO</a>
 	</div>
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{product.imageprin}">Imagen</th>
					<th scope="col" th:text="#{product.name}">Nombre</th>
					<th scope="col" th:text="#{product.price}">Precio</th>
					<th scope="col" th:text="#{product.category}">Categoría</th>
					<th scope="col"></th>
				</tr>
			</thead>
		
	
			<tbody>
				<tr th:if="${products.data.empty}">
					<td colspan="6"> No se ha encontrado ningun producto
				</tr>
				
				<tr th:each="product : ${products.data}" th:object="${product}">
					<td><span th:text="*{id}"></span></td>
					<td><img th:src="*{'/image/'+imageprin}" th:if="*{imageprin != null}" style="width:80px;"/></td>
					<td><span th:text="*{name}"></span></td>
					<td><span th:text="*{price}"></span></td>
					<td><span th:text="*{category.name}"></span></td>
					<td>
						<a class="btntable btneye" th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.view') + product.id}"><i class="fa-sharp fa-solid fa-eye"></i></a>
						<a class="btntable btnedit" th:href="${'/web/product/edit/' + product.id}" ><i class="fa-solid fa-pen-to-square"></i></a>
						<a class="btntable btndel" th:data-url="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.delete') + product.id}" href="#"><i class="fa-solid fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
	
		
		</table>
	</div>
	
	<div class="col-sm-12 pagination" th:if="${products.numPage > 0}">
		<span th:text="#{pagintation.label(${products.page + 1},${products.numPage})}"></span>
		
		<a th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list') + 0}" th:if="${products.page > 0}"><i class="fa-solid fa-backward-fast"></i></a>
		<a th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list') + (products.page - 1)}"  th:if="${products.page > 0}"><i class="fa-solid fa-backward-step"></i></a>
		
		
		<a th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list') + (products.page  + 1)}" th:if="${products.page <  (products.numPage - 1)}"><i class="fa-solid fa-forward-step"></i></a>
		<a th:href="${@environment.getProperty('url.product.base')+@environment.getProperty('url.product.list') + (products.numPage - 1)}"  th:if="${products.page <  (products.numPage - 1)}"><i class="fa-solid fa-forward-fast"></i></a>
	</div>
	
	<div th:replace="~{components/components::modaldelete(#{product.delete})}"></div>
	
	
</div>
