<div th:fragment="permissionform">

	<div class="alert alert-success" role="alert" th:if="${save != null && save && message != null && message != ''}" th:text="${message}"> 
	</div>
	
	<div class="alert alert-danger" role="alert" th:if="${save != null && !save && message != null && message != ''}" th:text="${message}">
	</div>
	
	
	<form th:action="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.save')}" th:object="${permission}" method="post" >
	
		<div class="row">
			
			<div th:replace="~{components/components::fieldInput(#{permission.id},'number','id',true,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{permission.name},'text','name',false,4)}"></div>
	
		</div>
		
		<div class="col-sm-12" style="text-align:right; margin-top: 2em;">
			<a th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.list')}" class="btn btn-secondary" th:text="#{cancel}"></a>
			<button type="submit" class="btn btn-primary" th:text="#{save}"></button>
		</div>

	</form>
	
	
	<div th:replace="~{components/components::formimage('idform', 'idinputfile', 'inputfield', 'idimage', 'iderror')}"></div>


	


</div>