<div th:fragment="clientform">

	<div class="alert alert-success" role="alert" th:if="${save != null && save && message != null && message != ''}" th:text="${message}"> 
	</div>
	<div class="alert alert-danger" role="alert" th:if="${save != null && !save && message != null && message != ''}" th:text="${message}">
	</div>
	


	<form th:action="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.save')}" th:object="${client}" method="post">
	
		<div class="row">
		
			<div th:replace="~{components/components::fieldInput(#{client.id},'number','id',true,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.vat},'text','vat',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.name},'text','name',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.comercialName},'text','comercialName',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.phone},'text','phone',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.email},'email','email',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.contactName},'text','contactName',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.contactPhone},'text','contactPhone',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{client.contactEmail},'text','contactEmail',false,4)}"></div>
			
			<div class="col-sm-12">
				<h3 th:text="#{street}">Dirección</h3>
			</div>
		


	
			<div th:replace="~{components/components::fieldInput(#{street.id},'number','street.id',true,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{street.street},'text','street.street',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{street.number},'text','street.number',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{street.city},'text','street.city',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{street.postalcode},'text','street.postalcode',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{street.country},'text','street.country',false,4)}"></div>

			<div class="col-sm-12" style="text-align:right; margin-top: 2em;">
				<a th:href="${@environment.getProperty('url.client.base')+@environment.getProperty('url.client.list')}" class="btn btn-secondary" th:text="#{cancel}">Cancelar</a>
				<button type="submit" class="btn btn-primary" th:text="#{save}">Guardar</button>
			</div>
	
		</div>
		
	
	</form>

</div>