<div th:fragment="listpermission" class="row">

	<div class="col-sm-12">
		<a th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.create')}" class="btn btn-primary" th:text="#{permission.new}"></a>
 	</div>

	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{permission.name}"></th>
					<th scope="col"></th>
				</tr>
			</thead>
		
	
			<tbody>
				<tr th:if="${permissions.data.empty}">
					<td colspan="6" th:text="#{permission.notfound}"></td>
				</tr>
				
				<tr th:each="permission : ${permissions.data}" th:object="${permission}">
					<td><span th:text="*{id}"></span></td>
					<td><span th:text="*{name}"></span></td>
					<td>
						<a class="btntable btneye" th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.view') + permission.id}"><i class="fa-sharp fa-solid fa-eye"></i></a>
						<a class="btntable btnedit" th:href="${'/web/permission/edit/' + permission.id}" ><i class="fa-solid fa-pen-to-square"></i></a>
						<a class="btntable btndel" th:data-url="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.delete') + permission.id}" href="#"><i class="fa-solid fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>
	
	<div class="col-sm-12 pagination" th:if="${permissions.numPage > 0}">
		<span th:text="#{pagintation.label(${permissions.page + 1},${permissions.numPage})}"></span>
		
		<a th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.list') + 0}" th:if="${permissions.page > 0}"><i class="fa-solid fa-backward-fast"></i></a>
		<a th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.list') + (permissions.page - 1)}"  th:if="${permissions.page > 0}"><i class="fa-solid fa-backward-step"></i></a>
		
		
		<a th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.list') + (permissions.page  + 1)}" th:if="${permissions.page <  (permissions.numPage - 1)}"><i class="fa-solid fa-forward-step"></i></a>
		<a th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.list') + (permissions.numPage - 1)}"  th:if="${permissions.page <  (permissions.numPage - 1)}"><i class="fa-solid fa-forward-fast"></i></a>
	</div>
	
	<div th:replace="~{components/components::modaldelete(#{permission.delete})}"></div>
</div>
