<div th:fragment="viewpermission">
	<div class="row" th:if="${permission != null}" th:object="${permission}">
		<div
			th:replace="~{components/components::viewfield(#{permission.id},*{id},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{permission.name},*{name},4)}"></div>

	


	</div>

	<div class="row" th:if="${permission == null}">
		<div class="col-sm-12" th:text="#{permission.notfound}">
		</div>


	</div>

	<div class="row" style="margin-top: 1em; text-align: right;">
		<div class="col-sm-12">
			<a class="btn btn-secondary" th:href="${@environment.getProperty('url.permission.base')+@environment.getProperty('url.permission.list')}" th:text="#{return}"></a>
		</div>


	</div>
</div>

