<div th:fragment="viewrole">
	<div class="row" th:if="${role != null}" th:object="${role}">
		<div
			th:replace="~{components/components::viewfield(#{role.id},*{id},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{role.name},*{name},4)}"></div>
		<div
			th:replace="~{components/components::viewtextMultiple(#{role.permission},*{permissions},4)}"></div>

	


	</div>

	<div class="row" th:if="${role == null}">
		<div class="col-sm-12" th:text="#{role.notfound}">
		</div>


	</div>

	<div class="row" style="margin-top: 1em; text-align: right;">
		<div class="col-sm-12">
			<a class="btn btn-secondary" th:href="${@environment.getProperty('url.role.base')+@environment.getProperty('url.role.list')}" th:text="#{return}"></a>
		</div>


	</div>
</div>

