<div th:fragment="listusercurso" class="row">

	<div class="col-sm-12">
		<a th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.create')}" class="btn btn-primary" th:text="#{usercurso.new}"></a>
 	</div>

	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col" th:text="#{usercurso.username}"></th>
					<th scope="col" th:text="#{usercurso.email}"></th>
					<th scope="col"></th>
				</tr>
			</thead>
		
	
			<tbody>
				<tr th:if="${usercursos.data.empty}">
					<td colspan="6" th:text="#{usercurso.notfound}"></td>
				</tr>
				
				<tr th:each="usercurso : ${usercursos.data}" th:object="${usercurso}">
					<td><span th:text="*{id}"></span></td>
					<td><span th:text="*{username}"></span></td>
					<td><span th:text="*{email}"></span></td>
					<td>
						<a class="btntable btneye" th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.view') + usercurso.id}"><i class="fa-sharp fa-solid fa-eye"></i></a>
						<a class="btntable btnedit" th:href="${'/web/usercurso/edit/' + usercurso.id}" ><i class="fa-solid fa-pen-to-square"></i></a>
						<a class="btntable btndel" th:data-url="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.delete') + usercurso.id}" href="#"><i class="fa-solid fa-trash"></i></a>
					</td>
				</tr>
			</tbody>
		
		</table>
	</div>
	
	<div class="col-sm-12 pagination" th:if="${usercursos.numPage > 0}">
		<span th:text="#{pagintation.label(${usercursos.page + 1},${usercursos.numPage})}"></span>
		
		<a th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.list') + 0}" th:if="${usercursos.page > 0}"><i class="fa-solid fa-backward-fast"></i></a>
		<a th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.list') + (usercursos.page - 1)}"  th:if="${usercursos.page > 0}"><i class="fa-solid fa-backward-step"></i></a>
		
		
		<a th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.list') + (usercursos.page  + 1)}" th:if="${usercursos.page <  (usercursos.numPage - 1)}"><i class="fa-solid fa-forward-step"></i></a>
		<a th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.list') + (usercursos.numPage - 1)}"  th:if="${usercursos.page <  (usercursos.numPage - 1)}"><i class="fa-solid fa-forward-fast"></i></a>
	</div>
	
	<div th:replace="~{components/components::modaldelete(#{usercurso.delete})}"></div>
</div>
