<div th:fragment="viewusercurso">
	<div class="row" th:if="${usercurso != null}" th:object="${usercurso}">
		<div
			th:replace="~{components/components::viewfield(#{usercurso.id},*{id},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{usercurso.username},*{username},4)}"></div>
		<div
			th:replace="~{components/components::viewfield(#{usercurso.email},*{email},4)}"></div>
		<div
			th:replace="~{components/components::viewtextMultiple(#{usercurso.rol},*{roles},4)}"></div>

	


	</div>

	<div class="row" th:if="${usercurso == null}">
		<div class="col-sm-12" th:text="#{usercurso.notfound}">
		</div>


	</div>

	<div class="row" style="margin-top: 1em; text-align: right;">
		<div class="col-sm-12">
			<a class="btn btn-secondary" th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.list')}" th:text="#{return}"></a>
		</div>


	</div>
</div>

