<div th:fragment="usercursoform">

	<div class="alert alert-success" usercurso="alert" th:if="${save != null && save && message != null && message != ''}" th:text="${message}"> 
	</div>
	
	<div class="alert alert-danger" usercurso="alert" th:if="${save != null && !save && message != null && message != ''}" th:text="${message}">
	</div>
	
	
	<form th:action="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.save')}" th:object="${usercurso}" method="post" >
	
		<div class="row">
			
			<div th:replace="~{components/components::fieldInput(#{usercurso.id},'number','id',true,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{usercurso.username},'text','username',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{usercurso.email},'text','email',false,4)}"></div>
			<div th:replace="~{components/components::fieldInput(#{usercurso.password},'password','password',false,4)}"></div>
			<div th:replace="~{components/components::checkboxform('enabled',#{usercurso.enabled},4)}"></div>
			<div th:replace="~{components/components::checkboxform('twofactor',#{usercurso.twofactor},4)}"></div>
			
			
			<div th:replace="~{components/components::selectorformmultiple('roles',#{usercurso.rol},12,${roles},*{roles})}"></div>
			
			
	
		</div>
		
		<div class="col-sm-12" style="text-align:right; margin-top: 2em;">
			<a th:href="${@environment.getProperty('url.usercurso.base')+@environment.getProperty('url.usercurso.list')}" class="btn btn-secondary" th:text="#{cancel}"></a>
			<button type="submit" class="btn btn-primary" th:text="#{save}"></button>
		</div>

	</form>
	
	
	<div th:replace="~{components/components::formimage('idform', 'idinputfile', 'inputfield', 'idimage', 'iderror')}"></div>


	


</div>